In [39]:
import pandas as pd
import numpy as np
import os
from yaml import safe_load
from tqdm import tqdm
import pickle

In [3]:
# pip install pyyaml

In [40]:
filenames=[]
for file in os.listdir('data'):
    filenames.append(os.path.join('data',file))

In [41]:
final_df=pd.DataFrame()
counter=1
for file in tqdm(filenames):
    with open(file,'r') as f:
        df=pd.json_normalize(safe_load(f))
        df['match_id']=counter
        final_df=pd.concat([final_df,df])
        counter+=1

100%|█████████▉| 7469/7470 [1:01:13<00:00,  2.03it/s]

NotImplementedError:

In [44]:
pickle.dump(final_df,open('final_df.pkl','wb'))

In [45]:
backup=final_df.copy()

In [46]:
backup.to_csv('backup.csv')

In [3]:
# final_df=pd.read_csv('backup.csv')

In [49]:
final_df.shape

(7469, 45)

In [50]:
final_df.head()

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.New Zealand,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.South Africa,info.supersubs.Pakistan,info.bowl_out,info.outcome.bowl_out,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2016-11-09,2,Perth,"[2016-11-03, 2016-11-04, 2016-11-05, 2016-11-0...",male,Test,177.0,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-11-16,2,Hobart,"[2016-11-12, 2016-11-13, 2016-11-14, 2016-11-15]",male,Test,80.0,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'South Africa', 'dec...",0.9,2016-12-05,1,NaN,"[2016-11-24, 2016-11-25, 2016-11-26, 2016-11-27]",male,Test,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-12-21,1,Brisbane,"[2016-12-15, 2016-12-16, 2016-12-17, 2016-12-1...",male,Test,39.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'declare...",0.9,2016-12-31,1,NaN,"[2016-12-26, 2016-12-27, 2016-12-28, 2016-12-2...",male,Test,18.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# droping non relevent features
final_df=final_df.drop(columns=
    ['meta.data_version', 
    'meta.created',
    'meta.revision',
     'info.bowl_out', 
     'info.outcome.bowl_out',
     'info.outcome.result',
       'info.outcome.method', 
     'info.neutral_venue',
     'info.player_of_match',
    'info.supersubs.Melbourne Renegades',
       'info.supersubs.Adelaide Strikers', 'info.supersubs.Hobart Hurricanes',
       'info.supersubs.Melbourne Stars', 'info.supersubs.Australia',
       'info.supersubs.England', 'info.supersubs.Africa XI',
       'info.supersubs.Asia XI', 'info.supersubs.Zimbabwe',
       'info.supersubs.Sri Lanka', 'info.supersubs.Bangladesh',
       'info.supersubs.New Zealand', 'info.supersubs.India',
       'info.supersubs.ICC World XI', 'info.supersubs.South Africa',
       'info.supersubs.Pakistan', 'info.supersubs.West Indies'
      ]
)

In [52]:
final_df.columns

Index(['innings', 'info.city', 'info.dates', 'info.gender', 'info.match_type',
       'info.outcome.by.runs', 'info.outcome.winner', 'info.player_of_match',
       'info.teams', 'info.toss.decision', 'info.toss.winner', 'info.umpires',
       'info.venue', 'match_id', 'info.outcome.by.innings',
       'info.outcome.by.wickets', 'info.overs', 'info.competition',
       'info.outcome.eliminator', 'info.match_type_number'],
      dtype='object')

In [53]:
#extracting only T20 data
final_df_T20=final_df[final_df['info.match_type']=='T20']

In [54]:
final_df_T20.shape

(4082, 20)

In [55]:
final_df_T20.isnull().sum()

innings                       0
info.city                   412
info.dates                    0
info.gender                   0
info.match_type               0
info.outcome.by.runs       2151
info.outcome.winner         139
info.player_of_match        220
info.teams                    0
info.toss.decision            0
info.toss.winner              0
info.umpires                 22
info.venue                    0
match_id                      0
info.outcome.by.innings    4082
info.outcome.by.wickets    2071
info.overs                    0
info.competition           1432
info.outcome.eliminator    4038
info.match_type_number     3383
dtype: int64

In [56]:
final_df_T20=final_df_T20.drop(columns=['info.outcome.eliminator','info.outcome.by.innings'])

In [57]:
final_df_T20['info.gender'].value_counts()

info.gender
male      3352
female     730
Name: count, dtype: int64

In [58]:
final_df_T20_man=final_df_T20[final_df_T20['info.gender']=='male']

In [59]:
final_df_T20_man['info.match_type'].value_counts()

info.match_type
T20    3352
Name: count, dtype: int64

In [60]:
final_df_T20_man['info.overs'].value_counts()

info.overs
20.0    3349
50.0       3
Name: count, dtype: int64

In [61]:
final_df_T20_man=final_df_T20_man[final_df_T20_man['info.overs']==20.0]

In [62]:
final_df_T20_man=final_df_T20_man.drop(columns=['info.overs','info.match_type'])

In [64]:
final_df_T20_man.head(2)

,innings,info.city,info.dates,info.gender,info.outcome.by.runs,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.outcome.by.wickets,info.competition,info.match_type_number
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-02-17],male,NaN,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,12,5.0,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",Victoria,[2017-02-19],male,NaN,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",13,2.0,NaN,NaN

In [67]:
#checking the innings wise data
final_df_T20_man['innings'].iloc[1][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.4: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {0.5: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.7: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.2: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'caught and bowled', 'player_out': 'AJ Finch'}}},
 {2.5: {'batsman': 'BR Dunk',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.6: {'batsman': 'BR Dunk',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {3.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.4: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.6: {'batsman': 'BR Dunk',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.7: {'batsman': 'BR Dunk',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.2: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.4: {'batsman': 'BR Dunk',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'BR Dunk',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {5.1: {'batsman': 'BR Dunk',
   'bowler': 'EMDY Munaweera',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {5.2: {'batsman': 'BR Dunk',
   'bowler': 'EMDY Munaweera',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.3: {'batsman': 'BR Dunk',
   'bowler': 'EMDY Munaweera',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {5.4: {'batsman': 'BR Dunk',
   'bowler': 'EMDY Munaweera',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {5.5: {'batsman': 'BR Dunk',
   'bowler': 'EMDY Munaweera',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.6: {'batsman': 'BR Dunk',
   'bowler': 'EMDY Munaweera',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {6.1: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'BR Dunk',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'BR Dunk',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.4: {'batsman': 'BR Dunk',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'BR Dunk'}}},
 {6.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.1: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.5: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.6: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.1: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {8.3: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.6: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.2: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {9.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {9.6: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {10.2: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.3: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.4: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.5: {'batsman': 'M Klinger',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.6: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {11.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {13.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.2: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['N Dickwella'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {13.3: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.7: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {14.2: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['N Dickwella'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {14.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.5: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.6: {'batsman': 'MC Henriques',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.2: {'batsman': 'AJ Turner',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {15.6: {'batsman': 'AJ Turner',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['TAM Siriwardana'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {16.1: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.4: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.5: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'lbw', 'player_out': 'JP Faulkner'}}},
 {17.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {17.2: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.3: {'batsman': 'TD Paine',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {17.4: {'batsman': 'TD Paine',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'TD Paine',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TD Paine',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'lbw', 'player_out': 'TD Paine'}}},
 {18.4: {'batsman': 'PJ Cummins',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.5: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.6: {'batsman': 'PJ Cummins',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.1: {'batsman': 'MC Henriques',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.2: {'batsman': 'MC Henriques',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.3: {'batsman': 'PJ Cummins',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'PJ Cummins'}}},
 {19.4: {'batsman': 'AJ Tye',
   'bowler': 'KMDN Kulasekara',
   'extras': {'legbyes': 4},
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 4, 'total': 4}}},
 {19.5: {'batsman': 'AJ Tye',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'lbw', 'player_out': 'AJ Tye'}}},
 {19.6: {'batsman': 'JA Richardson',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'JA Richardson'}}}]

In [117]:
wicket=[]
for ball in final_df_T20_man['innings'].iloc[1][0]['1st innings']['deliveries']:
    for key in ball.keys():
        # print(ball[key].keys())
        if 'wicket' in ball[key].keys():
            print(ball[key]['wicket']['player_out'])
        #     # print(wicket)
        # print(key)

AJ Finch
BR Dunk
M Klinger
TM Head
AJ Turner
JP Faulkner
TD Paine
PJ Cummins
AJ Tye
JA Richardson

In [126]:
delivery_df=pd.DataFrame()

In [134]:
#extracting the ball by ball data
count=1
delivery_df=pd.DataFrame()
for index,row in final_df_T20_man.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match=[]
    batsman=[]
    bowler=[]
    runs=[]
    player_of_dismissed=[]
    teams=[]
    batting_team=[]
    match_id=[]
    city=[]
    venue=[]
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            # try:
            #     player_of_dismissed.append(ball[key]['wicket']['players_out'])
            # except:
            #     player_of_dismissed.append('0')
            if 'wicket' in ball[key].keys():
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
                # print(ball[key]['wicket']['player_out'])
            else:
                # print('none')
                player_of_dismissed.append('0')
                
                                           
    loop_df=pd.DataFrame({
        'match_id':match_id,
        'teams':teams,
        'batting_team':batting_team,
        'ball':ball_of_match,
        'batsman':batsman,
        'bowler':bowler,
        'runs':runs,
        'player_dismissed':player_of_dismissed,
        'city':city,
        'venue':venue
    })
    delivery_df=pd.concat([delivery_df,loop_df])

In [137]:
delivery_df.head()

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground

In [138]:
# find bowling team
def bowl(row):
    for team in row['teams']:
        if team !=row['batting_team']:
            return team

In [139]:
delivery_df['bowling_team']=delivery_df.apply(bowl,axis=1)

In [140]:
delivery_df.head()

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [141]:
delivery_df['player_dismissed'].value_counts()

player_dismissed
0               383723
RG Sharma          139
BB McCullum        134
KA Pollard         132
AJ Finch           131
                 ...
A Gavde              1
JM Anderson          1
Imran Qayyum         1
KO Otieno            1
RD Gaikwad           1
Name: count, Length: 2035, dtype: int64

In [142]:
delivery_df.drop(columns=['teams'],inplace=True)

In [143]:
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'St Lucia Zouks',
       'Guyana Amazon Warriors', 'Trinbago Knight Riders',
       'Jamaica Tallawahs', 'Barbados Tridents', 'Bangladesh',
       'New Zealand', 'South Africa', 'Sydney Thunder', 'Brisbane Heat',
       'Melbourne Renegades', 'Hobart Hurricanes', 'Perth Scorchers',
       'Adelaide Strikers', 'Melbourne Stars', 'Sydney Sixers', 'England',
       'West Indies', 'Ireland', 'Afghanistan', 'Pakistan', 'Yorkshire',
       'Surrey', 'Lancashire', 'Hampshire', 'Gloucestershire',
       'Worcestershire', 'Northamptonshire', 'Derbyshire',
       'Nottinghamshire', 'Durham', 'Glamorgan', 'Essex', 'Kent',
       'Warwickshire', 'Leicestershire', 'Somerset', 'Middlesex',
       'Sussex', 'United Arab Emirates', 'Scotland', 'Oman',
       'Peshawar Zalmi', 'Quetta Gladiators', 'Karachi Kings',
       'Islamabad United', 'Lahore Qalandars', 'Sunrisers Hyderabad',
       'Mumbai Indians', 'Gujarat Lions', 'Rising Pune Supergiant',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Kings XI Punjab', 'Papua New Guinea',
       'St Lucia Stars', 'St Kitts and Nevis Patriots', 'Sri Lanka',
       'Birmingham Bears', 'Multan Sultans', 'Rajasthan Royals',
       'Chennai Super Kings', 'Netherlands', 'Nepal', 'Delhi Capitals',
       'Vanuatu', 'Philippines', 'United States of America', 'Germany',
       'Ghana', 'Uganda', 'Namibia', 'Nigeria', 'Botswana', 'Kenya',
       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',
       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Canada', 'Bermuda',
       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',
       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania',
       'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors',
       'Trinidad & Tobago Red Steel', 'Antigua Hawksbills',
       'Rising Pune Supergiants'], dtype=object)

In [146]:
#considering only the majority cricket playing team
teams=[
    'Australia',
    'India',
    'New Zealand',
    'South Africa',
    'Bangladesh',
    'England',
    'West Indies', 
    'Ireland', 
    'Afghanistan', 
    'Pakistan', 
]

In [147]:
delivery_df=delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df=delivery_df[delivery_df['bowling_team'].isin(teams)]

In [148]:
delivery_df.shape

(54402, 10)

In [149]:
output=delivery_df[['match_id', 'batting_team','bowling_team', 'ball', 'runs',
       'player_dismissed', 'city', 'venue']]

In [150]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,21,Bangladesh,New Zealand,0.1,0,0,Napier,McLean Park
1,21,Bangladesh,New Zealand,0.2,0,0,Napier,McLean Park
2,21,Bangladesh,New Zealand,0.3,0,0,Napier,McLean Park
3,21,Bangladesh,New Zealand,0.4,0,0,Napier,McLean Park
4,21,Bangladesh,New Zealand,0.5,1,0,Napier,McLean Park
...,...,...,...,...,...,...,...,...
88,3278,Bangladesh,India,14.2,2,0,Mirpur,Shere Bangla National Stadium
89,3278,Bangladesh,India,14.3,0,0,Mirpur,Shere Bangla National Stadium
90,3278,Bangladesh,India,14.4,2,0,Mirpur,Shere Bangla National Stadium
91,3278,Bangladesh,India,14.5,1,0,Mirpur,Shere Bangla National Stadium
92,3278,Bangladesh,India,14.6,1,0,Mirpur,Shere Bangla National Stadium

In [151]:
pickle.dump(output,open('output.pkl','wb'))